<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="title" class="container-sm title-section">
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <div class="d-flex justify-content-between">
        <h4 class="title d-inline-block pb-2">[[${title}]]</h4>
        <div class="d-flex">
            <div><button type="button" class="btn">목록보기</button></div>
            <div><button type="button" class="btn">카드보기</button></div>
        </div>
    </div>
    <hr>
</section>
</body>
</html>