<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="table" class="container-sm board-table-section">
    <table class="table table-hover small">
        <caption class="d-none" th:text="|#{entity.article} #{label.list}|"></caption>
        <colgroup>
            <col style="width: 52px">
            <col style="width: 52px">
            <col>
            <col style="width: 120px">
            <col style="width: 130px">
        </colgroup>
        <thead>
        <tr>
            <th class="py-3 text-center" scope="col"><input type="checkbox"></th>
            <th class="py-3 text-center" scope="col" th:text="#{label.no}"></th>
            <th class="py-3 text-center" scope="col" th:text="#{entity.article.title}"></th>
            <th class="py-3 text-center" scope="col" th:text="#{entity.article.createdBy}"></th>
            <th class="py-3 text-center" scope="col" th:text="#{entity.article.createdDate}"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<at.modoo.model.Article>"*/-->
        <tr role="button" th:each="article : ${page.content}" th:data-id="${article.id}">
            <td class="py-3 text-center"><input type="checkbox"></td>
            <td class="py-3 text-center" th:text="${page.totalElements - page.pageable.offset - articleStat.index}"></td>
            <td class="py-3 text-start" th:text="${article.title}"></td>
            <td class="py-3 text-center" th:text="${article.maskedAuthor}"></td>
            <td class="py-3 text-center" th:text="${#temporals.format(article.createdDate, 'yyyy.MM.dd')}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>