<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="table" class="container-sm board-table-section">
    <table class="table table-hover small">
        <caption class="d-none" th:text="|#{entity.article} #{label.list}|"></caption>
        <colgroup>
            <col style="width: 52px">
            <col style="width: 52px">
            <col>
            <col style="width: 120px">
            <col style="width: 130px">
        </colgroup>
        <thead>
        <tr>
            <th class="py-3 text-center" scope="col"><input type="checkbox"></th>
            <th class="py-3 text-center" scope="col">번호</th>
            <th class="py-3 text-center" scope="col">글제목</th>
            <th class="py-3 text-center" scope="col">글쓴이</th>
            <th class="py-3 text-center" scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr role="button">
            <td class="py-3 text-center"><input type="checkbox"></td>
            <td class="py-3 text-center">64</td>
            <td class="py-3 text-start">&lt;확신&gt;</td>
            <td class="py-3 text-center">dgh0****</td>
            <td class="py-3 text-center">2024.12.27</td>
        </tr>
        <tr role="button">
            <td class="py-3 text-center"><input type="checkbox"></td>
            <td class="py-3 text-center">63</td>
            <td class="py-3 text-start">마지막 마음이 들리는 공중전화</td>
            <td class="py-3 text-center">sias****</td>
            <td class="py-3 text-center">2024.12.26</td>
        </tr>
        <tr role="button">
            <td class="py-3 text-center"><input type="checkbox"></td>
            <td class="py-3 text-center">62</td>
            <td class="py-3 text-start">모순..</td>
            <td class="py-3 text-center">sias****</td>
            <td class="py-3 text-center">2024.12.17</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>