<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="pagination" class="container-sm board-pagination-section d-flex justify-content-between align-items-center my-4">
    <div>
        <button class="btn btn-outline-secondary" type="button">선택삭제</button>
    </div>
    <div>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<at.modoo.model.Article>"*/-->
        <!--/*@thymesVar id="search" type="at.modoo.search.UriComponentsProvider"*/-->
        <nav class="pagination">
            <div class="page-item">
                <a aria-label="Previous"
                   class="page-link"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.number - (page.hasPrevious() ? 1 : 0)).build().toUriString()}}"
                >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="d-none">Previous</span>
                </a>
            </div>

            <div class="page-item" th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - 1)}">
                <a class="page-link"
                   th:classappend="${pageNumber == page.number} ? 'active' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', pageNumber).build().toUriString()}}"
                   th:text="${pageNumber + 1}">
                </a>
            </div>
            <div class="page-item">
                <a aria-label="Next"
                   class="page-link"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.number + (page.hasNext() ? 1 : 0)).build().toUriString()}}"
                >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="d-none">Next</span>
                </a>
            </div>
        </nav>
    </div>
    <div>
        <button class="btn btn-outline-secondary" type="button">내가 쓴 글</button>
        <button class="btn btn-primary" type="button">글쓰기</button>
    </div>
</section>
</body>
</html>