<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/styles/footer.css" th:href="@{/styles/footer.css}">
    <script src="/static/scripts/footer.js" th:src="@{/scripts/footer.js}"></script>
</head>
<footer id="footer" th:fragment="footer">
    <section class="content d-flex justify-content-between">
        <div class="inner">
            <div>
                <div><a href="#" target="_blank">홈 | 대전포스트잇 ♣대전독서모임</a><!--/*검색엔진노출링크*/--></div>
                <div>🙋</div><!--/*검색엔진노출방법제공Dialog*/-->
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <div><a href="#" target="_blank"></a></div><!--/*카페*/-->
                <div><a href="#" target="_blank"></a></div><!--/*블로그*/-->
                <div><a href="#" target="_blank"></a></div><!--/*페이스북*/-->
                <div><a href="#" target="_blank"></a></div><!--/*밴드*/-->
            </div>
        </div>
        <div class="sns"></div>
    </section>
    <section class="banner d-flex align-items-center justify-content-center">
        <div>doyevskyi가 제작한 홈페이지입니다.</div>
    </section>
</footer>
</html>