<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/styles/footer.css" th:href="@{/styles/footer.css}">
    <script src="/static/scripts/footer.js" th:src="@{/scripts/footer.js}"></script>
</head>
<footer id="footer" th:fragment="footer">
    <div class="content-section container-sm content d-flex justify-content-between">
        <div class="left">
            <div>
                <span><button type="button" class="btn" title="신고"><i class="bi bi-exclamation-triangle"></i><span class="d-none d-sm-inline ms-1">신고</span></button></span>
                <span><button type="button" class="btn" title="문의" data-bs-toggle="modal" data-bs-target="#inquiryModal"><i class="bi bi-question-circle"></i><span class="d-none d-sm-inline ms-1">문의</span></button></span>
            </div>
        </div>
        <div class="right">
            <div class="d-flex justify-content-start align-items-center">
                <div><a class="btn" href="#" target="_blank"><i class="bi bi-cup-hot" title="카페"></i><span class="d-none d-sm-inline ms-1">카페</span></a></div>
                <div><a class="btn" href="#" target="_blank"><i class="bi bi-journal-text" title="블로그"></i><span class="d-none d-sm-inline ms-1">블로그</span></a></div>
                <div><a class="btn" href="#" target="_blank"><i class="bi bi-facebook" title="페이스북"></i><span class="d-none d-sm-inline ms-1">페이스북</span></a></div>
                <div><a class="btn" href="#" target="_blank"><i class="bi bi-people" title="밴드"></i><span class="d-none d-sm-inline ms-1">밴드</span></a></div>
            </div>
        </div>
    </div>
    <div class="banner-section d-flex align-items-center justify-content-center">
        <div>© 2025 NXCOA / SEESAW. All Rights Reserved.</div>
    </div>

    <!--/* 문의 */-->
    <div class="modal fade" id="inquiryModal" tabindex="-1" aria-labelledby="inquiryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inquiryModalLabel">문의하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="inquiryForm" name="inquiryForm" th:action="@{/}" th:method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inquiryEmail" class="form-label">이메일</label>
                            <input type="email" class="form-control" id="inquiryEmail" placeholder="회신받을 이메일 주소"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="inquiryTitle" class="form-label">제목</label>
                            <input type="text" class="form-control" id="inquiryTitle" required>
                        </div>
                        <div class="mb-3">
                            <label for="inquiryContent" class="form-label">내용</label>
                            <textarea class="form-control" id="inquiryContent" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary" id="sendInquiryBtn">보내기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const inquiryForm = document.inquiryForm;
            inquiryForm.addEventListener('submit', (e) => {
                e.preventDefault();

                // TODO Fetch API

                alert(`문의가 성공적으로 전송되었습니다.\n회신은 ${email} 주소로 발송됩니다.(미구현)`);
                inquiryForm.reset();
                bootstrap.Modal.getInstance(inquiryForm).hide();
            });
        });
    </script>
</footer>
</html>
