<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Header</title>
  <link rel="stylesheet" href="/static/styles/header.css" th:href="@{/styles/header.css}">
</head>

<header id="header" class="d-flex align-items-center justify-content-center" th:fragment="header">
  <div class="container-sm wrapper d-flex align-items-center justify-content-between">
    <h1 class="logo mb-0 d-lg-none"><a class="none" th:href="@{/}" th:text="${SITE_CONTEXT.name}"></a></h1>
    <nav class="gnb nav d-none d-lg-flex align-items-center justify-content-start">
      <div class="nav-item">
        <a class="btn nav-link" th:classappend="${CURRENT_CATEGORY == null} ? 'main-color' : ''" th:href="@{/}" th:text="#{label.home}">홈</a>
      </div>
      <div class="nav-item" th:each="category : ${NESTED_CATEGORIES}" th:classappend="${category.type.name() == 'NONE' && !category.children.isEmpty()} ? 'dropdown' : ''">
        <!--/* Case 1: Type is NOT NONE - Render as a simple anchor */-->
        <th:block th:if="${category.type.name() != 'NONE'}">
          <a class="btn nav-link"
             th:href="${category.url}"
             th:classappend="${CURRENT_CATEGORY != null && (#strings.equals(category.id, CURRENT_CATEGORY.id) || #strings.equals(category.id, CURRENT_CATEGORY.parentId))} ? 'main-color' : ''"
          >
            [[${category.name}]]
            <span class="badge bg-primary ms-1" th:if="${!category.recentArticles.isEmpty()}" th:text="${category.recentArticles.size()}"></span>
          </a>
        </th:block>

        <!--/* Case 2: Type is NONE and has children - Render as a dropdown */-->
        <th:block th:if="${category.type.name() == 'NONE' && !category.children.isEmpty()}">
          <a class="btn nav-link dropdown-toggle"
             href="#"
             data-bs-toggle="dropdown" aria-expanded="false"
          >
            [[${category.name}]]
            <span class="badge bg-primary ms-1" th:if="${!category.recentArticles.isEmpty()}" th:text="${category.recentArticles.size()}"></span>
          </a>
          <ul class="dropdown-menu">
            <li th:each="subCategory : ${category.children}">
              <a class="dropdown-item"
                 th:href="${subCategory.url}"
                 th:classappend="${CURRENT_CATEGORY != null && #strings.equals(subCategory.id, CURRENT_CATEGORY.id)} ? 'active' : ''">
                [[${subCategory.name}]]
                <span class="badge bg-primary ms-1" th:if="${!subCategory.recentArticles.isEmpty()}" th:text="${subCategory.recentArticles.size()}"></span>
              </a>
            </li>
          </ul>
        </th:block>

        <!--/* Case 3: Type is NONE and has NO children - Render as text or simple link */-->
        <th:block th:if="${category.type.name() == 'NONE' && category.children.isEmpty()}">
          <span class="btn nav-link disabled">
            [[${category.name}]]
          </span>
        </th:block>
      </div>
    </nav>
    <div class="utility d-none d-lg-flex align-items-center">
      <button class="btn site-map open-aside"
              th:title="#{label.view.all}"
              th:text="#{label.view.all}"
              type="button"
      >
      </button>
      <a class="btn sign-in"
         sec:authorize="isAnonymous()"
         th:href="@{/oauth2/authorization/naver}"
         th:text="#{label.sign.in}"
         th:title="#{label.sign.in}"
      ></a>
      <form sec:authorize="isAuthenticated()" th:action="@{/sign-out}" th:method="post">
        <button class="btn sign-out"
                th:text="#{label.sign.out}"
                th:title="#{label.sign.out}"
                type="submit"
        ></button>
      </form>
    </div>
    <div class="d-lg-none d-flex align-items-center gap-2">
      <button type="button" class="btn site-map open-aside navbar-toggler" th:title="#{label.view.all}"><i class="bi bi-list h4"></i>
      </button>
      <a class="btn" sec:authorize="isAnonymous()" th:href="@{/oauth2/authorization/naver}" th:title="|#{label.sign.in}|">
        <i class="bi bi-box-arrow-in-right h4"></i>
      </a>
      <form sec:authorize="isAuthenticated()" th:action="@{/sign-out}" th:method="post" class="d-inline">
        <button type="submit" class="btn" th:title="|#{label.sign.out}|">
          <i class="bi bi-box-arrow-right h4"></i>
        </button>
      </form>
    </div>
  </div>
</header>

</html>
