<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>

    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/index.css" th:href="@{/styles/index.css}">

    <style>
        #header.scrolled {
            background-color: rgb(255, 255, 255);
        }
        #header:not(.scrolled) {
            background-color: transparent;
        }
    </style>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', e => {
            const header = e.target.getElementById('header');
            e.target.addEventListener('scroll', e => {
                const methodName = window.scrollY > 0 ? 'add' : 'remove';
                header.classList[methodName]('scrolled');
            });
        });
    </script>
</head>

<body layout:fragment="content">
<section class="profile-section d-flex flex-column justify-content-center align-items-center">
    <div class="profile d-flex flex-column justify-content-center align-items-center">
        <p class="image"><img alt="프로필이미지" th:src="@{/images/profile.jpeg}"/></p>
        <h2>대전포스트잇 ♣대전독서모임</h2>
        <p>대전독서모임 홈페이지</p>
    </div>
</section>
<section class="intro-section d-flex flex-column justify-content-center align-items-center">
    <h6>대전 독서모임 인원 모집 중</h6>
    <span>독서 모임을 시작으로 대전시에서 주최하는 다양한 문화 및 지원 행사에 참여하고 싶으신 분들 환영합니다!</span>
</section>
<section class="board-section container-lg">
    <header class="d-flex justify-content-between align-items-center">
        <h5 th:text="${ALL_CATEGORIES.get(firstCategoryId).parent.name}"></h5>
        <p><a class="none" th:href="@{/articles(categoryId=${firstCategoryId}, categoryType=${ALL_CATEGORIES.get(firstCategoryId).type})}">더보기</a></p>
    </header>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <article class="col" th:each="article : ${first.content}">
                <a class="btn w-100 text-start"
                   th:href="@{/articles/view(categoryId=${article.categoryId}, page=${articleStat.index})}"
                >
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title" th:text="${article.title}"></div>
                        <div th:if="${!article.replies.isEmpty()}"><span class="mx-2">🗨</span><span class="main-color" th:text="${article.replies.size()}"></span></div>
                    </div>
                    <div class="content d-flex align-items-start justify-content-between mb-2 gap-3">
                        <div><div class="small text-muted" th:text="${article.plainContent}"></div></div>
                        <div class="thumbnail" th:if="${!article.attachments.isEmpty()}">
                            <img th:src="@{'/api/attachments/' + ${article.attachments.get(0).id}}" th:alt="${article.attachments.get(0).originalName}">
                        </div>
                    </div>
                    <div class="author d-flex justify-content-start align-items-center">
                        <div class="small text-muted" th:text="${article.maskedAuthor}"></div>
                        <div class="small text-muted mx-2">|</div>
                        <div class="small text-muted" th:text="${#temporals.format(article.createdDate, 'yyyy.MM.dd')}"></div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>
<section class="board-section container-lg">
    <header class="d-flex justify-content-between align-items-center">
        <h5 th:text="${ALL_CATEGORIES.get(secondCategoryId).parent.name}"></h5>
        <p><a class="none" th:href="@{/articles(categoryId=${secondCategoryId}, categoryType=${ALL_CATEGORIES.get(secondCategoryId).type})}">더보기</a></p>
    </header>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <article class="col" th:each="article : ${second.content}">
                <a class="btn w-100 text-start"
                   th:href="@{/articles/view(categoryId=${article.categoryId}, page=${articleStat.index})}"
                >
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title" th:text="${article.title}"></div>
                        <div th:if="${!article.replies.isEmpty()}"><span class="mx-2">🗨</span><span class="main-color" th:text="${article.replies.size()}"></span></div>
                    </div>
                    <div class="content d-flex align-items-start justify-content-between mb-2 gap-3">
                        <div><div class="small text-muted" th:text="${article.plainContent}"></div></div>
                        <div class="thumbnail" th:if="${!article.attachments.isEmpty()}">
                            <img th:src="@{'/api/attachments/' + ${article.attachments.get(0).id}}" th:alt="${article.attachments.get(0).originalName}">
                        </div>
                    </div>
                    <div class="author d-flex justify-content-start align-items-center">
                        <div class="small text-muted" th:text="${article.maskedAuthor}"></div>
                        <div class="small text-muted mx-2">|</div>
                        <div class="small text-muted" th:text="${#temporals.format(article.createdDate, 'yyyy.MM.dd')}"></div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>

</body>
</html>