<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>

    <title>홈 | [[${SITE_CONTEXT.name}]]</title>
    <link rel="stylesheet" href="/static/styles/index.css" th:href="@{/styles/index.css}">

    <style>
        #header.scrolled {
            background-color: rgb(255, 255, 255);
        }
        #header:not(.scrolled) {
            background-color: transparent;
        }
    </style>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', e => {
            const header = e.target.getElementById('header');
            e.target.addEventListener('scroll', e => {
                const methodName = window.scrollY > 0 ? 'add' : 'remove';
                header.classList[methodName]('scrolled');
            });
        });
    </script>
</head>

<body layout:fragment="content">
<section class="profile-section d-flex flex-column justify-content-center align-items-center" th:style="|background-image: url('/api/attachments/${SITE_CONTEXT.backgroundImage.id}')|">
    <div class="profile d-flex flex-column justify-content-center align-items-center container-fluid px-3">
        <p class="image mb-3"><img class="rounded-circle shadow" alt="프로필이미지" th:src="@{|/api/attachments/${SITE_CONTEXT.profileImage.id}|}"/></p>
        <h2 class="mb-3" th:text="${SITE_CONTEXT.name}"></h2>
        <p class="text-center px-2" th:text="${SITE_CONTEXT.description}"></p>
    </div>
</section>
<section class="intro-section d-flex flex-column justify-content-center align-items-center container-fluid">
    <h6 class="mb-3" th:text="${SITE_CONTEXT.intro}"></h6>
    <span class="text-center px-3 mb-3" th:text="${SITE_CONTEXT.content}"></span>
</section>
<section class="board-section container-fluid container-lg px-3" th:each="page : ${siteExposedPages}">
    <header class="d-flex justify-content-between align-items-center">
        <div class="h5 main-color" th:text="${ALL_CATEGORIES.get(page.getKey()).parent.name}"></div>
        <p><a class="none d-flex align-items-center" th:href="@{/articles(categoryId=${page.getKey()}, categoryType=${ALL_CATEGORIES.get(page.getKey()).type})}">더보기 <i class="bi bi-arrow-right ms-1"></i></a></p>
    </header>
    <div class="container-fluid px-0">
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <article class="col" th:each="article : ${page.getValue().content}">
                <a class="btn w-100 h-100 text-start shadow-sm rounded p-3"
                   th:href="@{/articles/view(categoryType=${ALL_CATEGORIES.get(page.getKey()).type}, categoryId=${article.categoryId}, page=${articleStat.index})}"
                >
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div class="title" th:text="${article.title}"></div>
                        <div class="d-flex align-items-center" th:if="${!article.replies.isEmpty()}">
                            <i class="bi bi-chat-dots mx-1"></i>
                            <span class="main-color" th:text="${article.replies.size()}"></span>
                        </div>
                    </div>
                    <div class="content d-flex flex-column flex-md-row align-items-start justify-content-between mb-2 gap-3">
                        <div class="small text-muted flex-grow-1" th:text="${article.plainContent}"></div>
                        <div class="thumbnail mt-2 mt-md-0" th:if="${!article.inlineImages.isEmpty()}">
                            <img class="img-fluid rounded" th:src="@{|/api/attachments/${article.inlineImages.get(0).id}|}" th:alt="${article.inlineImages.get(0).originalName}">
                        </div>
                    </div>
                    <div class="author d-flex justify-content-start align-items-center small text-muted">
                        <div th:text="${article.maskedAuthor}"></div>
                        <div class="mx-2">|</div>
                        <div th:text="${#temporals.format(article.createdDate, 'yyyy.MM.dd')}"></div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>
</body>
</html>
