<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>

    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/index.css" th:href="@{/styles/index.css}">
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section id="index-home">
    <section class="profile-section d-flex flex-column justify-content-center align-items-center">
        <div class="profile d-flex flex-column justify-content-center align-items-center">
            <p class="image"><img alt="프로필이미지" th:src="@{/images/profile.jpeg}"/></p>
            <h2>대전포스트잇 ♣대전독서모임</h2>
            <p>대전독서모임 홈페이지</p>
        </div>
    </section>
    <section class="intro d-flex flex-column justify-content-center align-items-center">
        <h2>대전 독서모임 인원 모집 중</h2>
        <p>독서 모임을 시작으로 대전시에서 주최하는 다양한 문화 및 지원 행사에 참여하고 싶으신 분들 환영합니다!</p>
    </section>
    <section class="board">
        <header class="d-flex justify-content-between align-items-center">
            <h3>모임 활동</h3>
            <p><a href="#">더보기</a></p>
        </header>
        <div class="d-flex justify-content-start align-items-center">
            <article>
                <div class="d-flex justify-content-between align-items-center">
                    <p>아웃오브블루</p>
                    <p><span>🗨</span>2</p>
                </div>
                <div>
                    <p>서담님의 선물☆따숩♡</p>
                    <p class="thumbnail"></p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p>sias****</p>
                    <p>2025.2.23</p>
                </div>
            </article>
            <article>
                <div class="d-flex justify-content-between align-items-center">
                    <p>푸른 들판을 걷다</p>
                    <p><span>🗨</span>1</p>
                </div>
                <div>
                    <p>클레어키건 작가 신작..아일랜드설화인듯.. 소설인듯..단편집이라지만 많이 아숩.ㅠ잼잇는 영화  잘보고있는데 갑쟈기 끊나버림. 그래서 그소녀는 어찌됬고그여잔 어디로갓고 남</p>
                    <p class="thumbnail"></p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p>sias****</p>
                    <p>2025.2.21</p>
                </div>
            </article>
            <article>
                <div class="d-flex justify-content-between align-items-center">
                    <p>나는 나로 살기로 했다</p>
                    <p><span>🗨</span>1</p>
                </div>
                <div>
                    <p>머리로 알고는있지만 하지못하는 맘먹기!!!긍정긍정!!!올해는 좀더 강한 정신력!!</p>
                    <p class="thumbnail"></p>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <p>sias****</p>
                    <p>2025.2.6</p>
                </div>
            </article>
        </div>
    </section>
    <section class="board">
        <header class="d-flex justify-content-between align-items-center">
            <h3>알림장</h3>
            <p><a href="#">더보기</a></p>
        </header>
        <article></article>
        <article></article>
        <article></article>
    </section>
</section>
</body>
</html>