<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>

    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <!--/* <link rel="stylesheet" href="/static/styles/index.css" th:href="@{/styles/index.css}"> */-->
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section class="container-sm">
    모임소개
    <hr>
</section>
<section class="container-sm">carousel</section>
<section class="container-sm">독서모임: 대전 포스트잇</section>
<section class="container-sm">
    <div>대전 독서 모임 '대전 포스트잇' !!</div>
    <div>매년 새해가 되면 다이어트와 함께</div>
    <div>'한 달에 한 권 책 읽기' 에 도전하는 우리...</div>
    <div>조그만 포스트잇에 센스 있는 한 줄 평으로</div>
    <div>시작해보는 건 어떨까요?</div>
</section>
<section class="container-sm">
    대전 포스트잇은<br>
    매월 마지막 주 토요일에 정기 모임 한 번!<br>
    <br>
    포스트잇에 자신만의 한 줄 평을 시작으로<br>
    서로에게 책을 추천하는 시간을 가집니다.<br>
    <br>
    평소 자유 독서는 아래 링크의 단체채팅방에서<br>
    이야기 나누며 책 모임을 만들어갑니다.<br>
    <br>
    <br>
    << 찾아오시는 법 >><br>
    <br>
    < 모임 단체 채팅방 ><br>
    * 카톡 오픈채팅에서 '대전포스트잇' 검색 *<br>
    https://open.kakao.com/o/g5set5ng<br>
    <br>
    < 모임장 연락방법 ><br>
    * 카카오톡 오픈프로필 '서담' 검색 *<br>
    http://open.kakao.com/me/seodaam<br>
    <br>
    * Instagram *<br>
    midnightstory_seodam<br>
</section>
</body>
</html>