<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section class="sub-category-banner d-flex justify-content-center align-items-center">
    <div class="nav container-sm d-flex justify-content-center align-items-center">
        <div class="nav-item"><a class="nav-link btn active" href="#">2025'책꽂이</a></div>
        <div class="nav-item"><a class="nav-link btn" href="#">2024'책꽂이</a></div>
        <div class="nav-item"><a class="nav-link btn" href="#">자유게시판</a></div>
    </div>
</section>
<section class="container-sm title-section">
    <div class="d-flex justify-content-between">
        <h4 class="title d-inline-block pb-2">2025'책꽂이</h4>
        <div class="d-flex">
            <div><button type="button" class="btn">목록보기</button></div>
            <div><button type="button" class="btn">카드보기</button></div>
        </div>
    </div>
    <hr>
</section>
<section class="container-sm board-table-section">
    <table class="table table-hover small">
        <caption class="d-none">게시글 목록</caption>
        <colgroup>
            <col style="width: 52px">
            <col style="width: 52px">
            <col>
            <col style="width: 120px">
            <col style="width: 130px">
        </colgroup>
        <thead>
        <tr>
            <th class="py-3 text-center" scope="col"><label><input type="checkbox"></label></th>
            <th class="py-3 text-center" scope="col">번호</th>
            <th class="py-3 text-center" scope="col">글제목</th>
            <th class="py-3 text-center" scope="col">글쓴이</th>
            <th class="py-3 text-center" scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr role="button">
            <td class="py-3 text-center"><label><input type="checkbox"></label></td>
            <td class="py-3 text-center">64</td>
            <td class="py-3 text-start">&lt;확신&gt;</td>
            <td class="py-3 text-center">dgh0****</td>
            <td class="py-3 text-center">2024.12.27</td>
        </tr>
        <tr role="button">
            <td class="py-3 text-center"><label><input type="checkbox"></label></td>
            <td class="py-3 text-center">63</td>
            <td class="py-3 text-start">마지막 마음이 들리는 공중전화</td>
            <td class="py-3 text-center">sias****</td>
            <td class="py-3 text-center">2024.12.26</td>
        </tr>
        <tr role="button">
            <td class="py-3 text-center"><label><input type="checkbox"></label></td>
            <td class="py-3 text-center">62</td>
            <td class="py-3 text-start">모순..</td>
            <td class="py-3 text-center">sias****</td>
            <td class="py-3 text-center">2024.12.17</td>
        </tr>
        </tbody>
    </table>
</section>
<section class="container-sm board-pagination-section d-flex justify-content-between align-items-center my-4">
    <div>
        <button class="btn btn-outline-secondary" type="button">선택삭제</button>
    </div>
    <div>
        <nav class="pagination">
            <div class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="d-none">Previous</span>
                </a>
            </div>
            <div class="page-item"><a class="page-link active" href="#">1</a></div>
            <div class="page-item"><a class="page-link" href="#">2</a></div>
            <div class="page-item"><a class="page-link" href="#">3</a></div>
            <div class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="d-none">Next</span>
                </a>
            </div>
        </nav>
    </div>
    <div>
        <button class="btn btn-outline-secondary" type="button">내가 쓴 글</button>
        <a href="" class="btn btn-primary" type="button">글쓰기</a>
    </div>
</section>
<section class="container-sm board-table-search-section my-4">
    <form>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <div>
                <label>
                    <select class="from-control form-select">
                        <option value="title">제목</option>
                        <option value="content">본문</option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <input class="form-control" type="search">
                </label>
            </div>
            <div>
                <button class="btn btn-outline-secondary" type="button">검색</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>