<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>

    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section class="sub-category-banner d-flex justify-content-center align-items-center">
    <div class="nav container-sm d-flex justify-content-center align-items-center">
        <div class="nav-item"><a class="nav-link btn active" href="#">2025'책꽂이</a></div>
        <div class="nav-item"><a class="nav-link btn" href="#">2024'책꽂이</a></div>
        <div class="nav-item"><a class="nav-link btn" href="#">자유게시판</a></div>
    </div>
</section>
<section th:replace="~{components/board_title :: title(title='2024\'책꽂이')}"></section>
<section th:replace="~{components/board_table :: table}"></section>
<section th:replace="~{components/pagination :: pagination}"></section>
<section th:replace="~{components/board_table_search :: search}"></section>
</body>
</html>