<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section th:replace="~{components/local_navigation_bar :: localNavigationBar}"></section>
<section class="container-sm title-section">
    <div class="d-flex justify-content-between">
        <div class="title h5 pb-1" th:text="${CURRENT_CATEGORY.name}"></div>
        <div class="d-flex">
            <div>
                <a class="btn"
                   th:classappend="${#strings.equals(search.viewType, 'TABLE')} ? 'main-color' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.pageable.pageNumber).replaceQueryParam('viewType', 'TABLE').build().toUriString()}}"
                >
                    목록보기
                </a>
            </div>
            <div>
                <a class="btn"
                   th:classappend="${#strings.equals(search.viewType, 'CARD')} ? 'main-color' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.pageable.pageNumber).replaceQueryParam('viewType', 'CARD').build().toUriString()}}"
                >
                    카드보기
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container-sm board-table-search-section py-4 mb-4" style="border-bottom: 1px solid var(--bs-gray-400);">
    <form name="searchForm" th:action="@{/articles}" th:method="get" th:object="${search}">
        <input type="hidden" th:field="*{categoryId}">
        <input type="hidden" th:field="*{categoryType}">
        <input type="hidden" th:field="*{viewType}">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div>
                    <label>
                        <select class="form-control form-select" th:field="*{keyField}">
                            <option value="title" th:text="#{entity.article.title}"></option>
                            <option value="content" th:text="#{entity.article.content}"></option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="form-control" type="search" th:field="*{keyWord}">
                    </label>
                </div>
                <div>
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <button class="btn btn-outline-secondary" type="button" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">선택삭제</button>
                <button class="btn btn-outline-secondary" type="button">내가 쓴 글</button>
                <button class="btn btn-primary" type="button">글쓰기</button>
            </div>
        </div>
    </form>
</section>
<section class="container-sm board-card-section">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <article th:if="${page.hasContent()}"
                 th:each="article : ${page.content}"
        >
            <a class="none card h-100"
               th:href="@{|/articles/view${search.getUriComponentsBuilder().queryParam('page', page.pageable.offset + articleStat.index).build().toUriString()}|}"
            >
                <img class="card-img-top img-thumbnail"
                     th:alt="${article.inlineImages.get(0).originalName}"
                     th:if="${!article.inlineImages.isEmpty()}"
                     th:src="@{|/api/attachments/${article.inlineImages.get(0).id}|}"
                >
                <svg class="bd-placeholder-img card-img-top img-thumbnail"
                     width="100%"
                     height="180"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img"
                     aria-label="Placeholder: Image cap"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false"
                     th:if="${article.inlineImages.isEmpty()}"
                >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="40%" y="50%" fill="#dee2e6" dy=".3em">No image</text>
                </svg>
                <div class="card-body">
                    <div class="card-title d-flex justify-content-start align-items-center gap-2">
                        <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                            <input aria-label="선택" name="selected" type="checkbox">
                        </div>
                        <div th:text="${article.title}"></div>
                    </div>
                    <p class="card-text small text-muted" th:text="${article.plainContent}"></p>
                </div>
                <div class="card-footer small text-muted d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-start">
                        <div th:text="${article.maskedAuthor}"></div>
                        <span class="mx-2">|</span>
                        <div th:text="${#temporals.format(article.createdDate, 'yyyy.MM.dd')}"></div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div><span class="mx-2">🗨</span><span th:text="${article.replies.size()}"></span></div>
                    </div>
                </div>
            </a>
        </article>
    </div>
</section>
<section class="container-sm board-pagination-section d-flex justify-content-center align-items-center my-4">
    <div>
        <nav class="pagination">
            <div class="page-item">
                <a aria-label="Previous"
                   class="page-link"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.previousOrFirstPageable().pageNumber).build().toUriString()}}"
                >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="d-none">Previous</span>
                </a>
            </div>

            <div class="page-item" th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - (page.totalPages > 0 ? 1 : 0))}">
                <a class="page-link"
                   th:classappend="${pageNumber == page.number} ? 'active' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', pageNumber).build().toUriString()}}"
                   th:text="${pageNumber + 1}">
                </a>
            </div>
            <div class="page-item">
                <a aria-label="Next"
                   class="page-link"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.nextOrLastPageable().pageNumber).build().toUriString()}}"
                >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="d-none">Next</span>
                </a>
            </div>
        </nav>
    </div>
</section>
</html>