<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section th:replace="~{components/sub_category_banner :: subCategoryBanner}"></section>
<section class="container-sm title-section">
    <div class="d-flex justify-content-between">
        <h4 class="title d-inline-block pb-2" th:text="${CURRENT_CATEGORY.name}"></h4>
        <div class="d-flex">
            <div>
                <a class="btn"
                   th:classappend="${#strings.equals(search.viewType, 'TABLE')} ? 'main-color' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.pageable.pageNumber).build().toUriString()}}"
                >
                    목록보기
                </a>
            </div>
            <div>
                <a class="btn"
                   th:classappend="${#strings.equals(search.viewType, 'CARD')} ? 'main-color' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.pageable.pageNumber).queryParam('viewType', 'CARD').build().toUriString()}}"
                >
                    카드보기
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container-sm board-table-search-section py-2"><!--border bottom 1px-->
    <form name="searchForm" th:action="@{/articles}" th:method="get" th:object="${search}">
        <input type="hidden" th:field="*{categoryId}">
        <input type="hidden" th:field="*{categoryType}">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div>
                    <label>
                        <select class="form-control form-select" th:field="*{keyField}">
                            <option value="title" th:text="#{entity.article.title}"></option>
                            <option value="content" th:text="#{entity.article.content}"></option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="form-control" type="search" th:field="*{keyWord}">
                    </label>
                </div>
                <div>
                    <button class="btn btn-outline-secondary" type="submit">검색</button>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <div>
                    <button class="btn btn-outline-secondary" type="button" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">선택삭제</button>
                </div>
                <div>
                    <button class="btn btn-outline-secondary" type="button">내가 쓴 글</button>
                    <button class="btn btn-primary" type="button">글쓰기</button>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="container-sm board-card-section">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
        <div class="card h-100">
            <img src="https://modo-phinf.pstatic.net/20250223_193/1740296470122F0mcM_JPEG/mosaU9LMUi.jpeg?type=f353_353" class="card-img-top img-thumbnail" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <div>
                    <div>sias****</div>
                    <div>2025.02.02</div>
                </div>
                <div>
                    <div>댓글</div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="container-sm board-pagination-section d-flex justify-content-between align-items-center my-4"></section>

</body>
</html>