<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[${ALL_CATEGORIES.get(article.categoryId).name}]] | [[${SITE_CONTEXT.name}]]</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">

    <!-- Editor -->
    <link rel="stylesheet" th:href="@{/styles/toastui-editor.min.css}">

    <!-- Color picker -->
    <link rel="stylesheet" th:href="@{/styles/tui-color-picker.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/toastui-editor-plugin-color-syntax.min.css}"/>

    <!-- Code syntax highlight -->
    <link rel="stylesheet" th:href="@{/styles/prism.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/toastui-editor-plugin-code-syntax-highlight.min.css}"/>

    <!-- Chart -->
    <link rel="stylesheet" th:href="@{/styles/toastui-chart.min.css}"/>

    <!-- Table merged cell -->
    <link rel="stylesheet" th:href="@{/styles/toastui-editor-plugin-table-merged-cell.min.css}"/>

    <!-- Editor -->
    <script th:src="@{/scripts/toastui-editor-all.min.js}"></script>

    <!-- Color picker -->
    <script th:src="@{/scripts/tui-color-picker.min.js}"></script>
    <script th:src="@{/scripts/toastui-editor-plugin-color-syntax.min.js}"></script>

    <!-- Code syntax highlight -->
    <script th:src="@{/scripts/toastui-editor-plugin-code-syntax-highlight-all.min.js}"></script>

    <!-- Chart -->
    <script th:src="@{/scripts/toastui-chart.min.js}"></script>
    <script th:src="@{/scripts/toastui-editor-plugin-chart.min.js}"></script>

    <!-- Table merged cell -->
    <script th:src="@{/scripts/toastui-editor-plugin-table-merged-cell.min.js}"></script>

    <!-- UML -->
    <script th:src="@{/scripts/toastui-editor-plugin-uml.min.js}"></script>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', e => {

            // 에디터에 첨부하는 이미지가 담길 것. 최종 제출하는 에디터 본문에서 참조됨
            const blobs = new Map();

            const {Editor} = toastui;
            const {chart, codeSyntaxHighlight, colorSyntax, tableMergedCell, uml} = Editor.plugin;
            const chartOptions = {
                minWidth: 100,
                maxWidth: 600,
                minHeight: 100,
                maxHeight: 300
            };
            const initialValue = /*[[${article.content}]]*/'';
            const editor = new toastui.Editor({
                el: document.querySelector('#editor'),
                height: '500px',
                initialEditType: 'wysiwyg',
                hideModeSwitch: true,
                previewStyle: 'vertical',
                initialValue: initialValue,
                usageStatistics: false,
                hooks: {
                    addImageBlobHook(blob, callback) {
                        const url = URL.createObjectURL(blob);

                        // 이미지를 추가할 때마다 blobs 엔트리를 추가하지만 최종 제출할 이미지는 editor의 본문에서 필터링될 것
                        blobs.set(url, blob);
                        callback(url, blob.name);
                    }
                },
                plugins: [[chart, chartOptions], [codeSyntaxHighlight, { highlighter: Prism }], colorSyntax, tableMergedCell, uml]
            });

            e.target.addEventListener('submit', e => {
                const selector = Object.keys(submitHandlers).find(selector => e.target.closest(selector));
                submitHandlers[selector]?.(e);
            });

            const submitHandlers = {
                '[name="updateArticleForm"]': e => {
                    e.preventDefault();
                    const form = new FormData(e.target);
                    form.append('type', 'HTML');
                    form.set('fixed', e.target.elements.fixed.checked);
                    form.append('content', editor.getHTML());

                    // 최종 제출할 본문에서 blob 데이터를 찾아 첨부 목록에 추가
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(editor.getHTML(), 'text/html');
                    const urls = [...doc.querySelectorAll('img[src*="blob:"]')].map(img => img.src);

                    const dataTransfer = new DataTransfer();
                    urls.filter(url => blobs.has(url))
                        .forEach(url => {
                            const blob = blobs.get(url);
                            const file = new File([blob], blob.name, {type: blob.type});
                            dataTransfer.items.add(file);
                        });
                    [...dataTransfer.files].forEach(file => form.append('inlineImages', file));

                    const httpEntity = {
                        method: e.target.method,
                        headers: {
                            [CSRF.headerName]: CSRF.token
                        },
                        body: form
                    };
                    fetch(e.target.action, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.ok) {
                                alert(/*[[#{command.success.update}]]*/'');
                                location.href = /*[[@{/articles/view(categoryId=${command.categoryId}, page=0)}]]*/'';
                            } else if (response.status === 400) {
                                const errors = JSON.parse(responseBody).errors;
                                [...errors].forEach(error => {
                                    const field = e.target.elements[error.field];
                                    field.setCustomValidity(error.message);
                                    field.reportValidity();
                                });
                            } else {
                                alert(/*[[#{command.failure.update}]]*/'');
                            }
                        });
                }

            };
        });
    </script>
</head>
<body layout:fragment="content">
<nav th:replace="~{components/local_navigation_bar :: localNavigationBar}"></nav>
<header class="container-sm title-section">
    <div class="d-flex">
        <div class="title h5 pb-1" th:text="${ALL_CATEGORIES.get(article.categoryId).name}"></div>
    </div>
</header>
<form name="updateArticleForm" enctype="multipart/form-data" th:action="@{'/api/articles/' + ${article.id}}" th:method="post">
    <input name="categoryId" th:value="${article.categoryId}" type="hidden">
    <input class="d-none" multiple name="multipartFiles" type="file">
    <section class="container-sm py-4 mb-4">
        <div class="container">
            <div class="row py-2">
                <div class="col-1">작성자</div>
                <div class="col-11 d-flex justify-content-between align-items-center">
                    <div th:text="${article.createdBy}"></div>
                    <div class="d-flex justify-content-start align-items-center gap-2 text-muted small">
                        <div>공지글로등록</div>
                        <input aria-label="고정여부" type="checkbox" id="fixed" th:checked="${article.fixed}">
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-1">
                    <label for="title" th:text="#{entity.article.title}"></label>
                </div>
                <div class="col-11">
                    <input type="text" class="form-control" id="title" name="title" th:value="${article.title}" required>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-1">내용</div>
                <div class="col-11">
                    <div id="editor"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container-sm content-footer d-flex justify-content-end align-items-center my-4">
        <div class="d-flex justify-content-end gap-2">
            <a class="btn btn-outline-secondary"
               th:href="@{/articles/view(categoryId=${article.categoryId}, page=0)}"
               th:text="#{label.cancel}">
            </a>
            <button class="btn btn-primary" type="submit" th:text="#{label.save}"></button>
        </div>
    </footer>
</form>
</body>
</html>