<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <title>[[${CURRENT_CATEGORY.name}]] | [[${SITE_CONTEXT.name}]]</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript"></script>
</head>
<body layout:fragment="content">
<section th:replace="~{components/breadcrumbs :: breadcrumbs}"></section>
<section class="container-sm title-section">
    <div class="d-flex">
        <h5 class="title pb-1" th:text="${CURRENT_CATEGORY.name}"></h5>
    </div>
</section>
<th:block th:each="article : ${page.content}" th:if="${page.hasContent()}" th:utext="${article.content}"></th:block>
</body>
</html>