<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript"></script>
</head>

<body layout:fragment="content">
<section th:replace="~{components/local_navigation_bar :: localNavigationBar}"></section>
<section class="container-sm title-section">
    <div class="d-flex justify-content-between">
        <h4 class="title d-inline-block pb-2" th:text="${CURRENT_CATEGORY.name}"></h4>
        <div class="d-flex">
            <div>
                <a class="btn"
                   th:classappend="${#strings.equals(search.viewType, 'TABLE')} ? 'main-color' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.pageable.pageNumber).build().toUriString()}}"
                >
                    목록보기
                </a>
            </div>
            <div>
                <a class="btn"
                   th:classappend="${#strings.equals(search.viewType, 'CARD')} ? 'main-color' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.pageable.pageNumber).queryParam('viewType', 'CARD').build().toUriString()}}"
                >
                    카드보기
                </a>
            </div>
        </div>
    </div>
    <hr>
</section>
<section class="container-sm board-table-section">
    <table class="table table-hover small">
        <caption class="d-none" th:text="|#{entity.article} #{label.list}|"></caption>
        <colgroup>
            <col style="width: 52px" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
            <col style="width: 52px">
            <col>
            <col style="width: 120px">
            <col style="width: 130px">
        </colgroup>
        <thead>
        <tr>
            <th class="py-3 text-center" scope="col" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"><label><input type="checkbox"></label></th>
            <th class="py-3 text-center" scope="col" th:text="#{label.no}"></th>
            <th class="py-3 text-center" scope="col" th:text="#{entity.article.title}"></th>
            <th class="py-3 text-center" scope="col" th:text="#{entity.article.createdBy}"></th>
            <th class="py-3 text-center" scope="col" th:text="#{entity.article.createdDate}"></th>
        </tr>
        </thead>
        <tbody th:if="${page.hasContent()}">

        <tr th:each="article : ${page.content}">
            <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<at.modoo.model.Article>"*/-->
            <td class="py-3 text-center" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"><label><input type="checkbox"></label></td>
            <td class="py-3 text-center" th:text="${page.totalElements - page.pageable.offset - articleStat.index}"></td>
            <td class="py-3 text-start">
                <a class="none" th:href="@{'/articles/view?categoryId=' + ${article.categoryId} + '&page=' + ${articleStat.index}}">
                    [[${article.title}]]
                    <th:block th:if="${!article.replies.isEmpty()}">
                        <span class="mx-2">🗨</span><span th:text="${article.replies.size()}"></span>
                    </th:block>
                </a>
            </td>
            <td class="py-3 text-center" th:text="${article.maskedAuthor}"></td>
            <td class="py-3 text-center" th:text="${#temporals.format(article.createdDate, 'yyyy.MM.dd')}"></td>
        </tr>
        </tbody>
        <tbody th:if="${page.isEmpty()}">
        <tr>
            <td colspan="5" class="text-center">
                <div class="text-center d-flex justify-content-center align-items-center my-2" th:text="#{label.result.empty}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<section class="container-sm board-pagination-section d-flex justify-content-between align-items-center my-4">
    <div>
        <button class="btn btn-outline-secondary" type="button" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">선택삭제</button>
    </div>
    <div>
        <nav class="pagination">
            <div class="page-item">
                <a aria-label="Previous"
                   class="page-link"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.previousOrFirstPageable().pageNumber).build().toUriString()}}"
                >
                    <span aria-hidden="true">&laquo;</span>
                    <span class="d-none">Previous</span>
                </a>
            </div>

            <div class="page-item" th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - (page.totalPages > 0 ? 1 : 0))}">
                <a class="page-link"
                   th:classappend="${pageNumber == page.number} ? 'active' : ''"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', pageNumber).build().toUriString()}}"
                   th:text="${pageNumber + 1}">
                </a>
            </div>
            <div class="page-item">
                <a aria-label="Next"
                   class="page-link"
                   th:href="@{'/articles' + ${search.getUriComponentsBuilder().queryParam('page', page.nextOrLastPageable().pageNumber).build().toUriString()}}"
                >
                    <span aria-hidden="true">&raquo;</span>
                    <span class="d-none">Next</span>
                </a>
            </div>
        </nav>
    </div>
    <div>
        <button class="btn btn-outline-secondary" type="button">내가 쓴 글</button>
        <button class="btn btn-primary" type="button">글쓰기</button>
    </div>
</section>
<section class="container-sm board-table-search-section my-4">
    <form name="searchForm" th:action="@{/articles}" th:method="get" th:object="${search}">
        <input type="hidden" th:field="*{categoryId}">
        <input type="hidden" th:field="*{categoryType}">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <div>
                <label>
                    <select class="form-control form-select" th:field="*{keyField}">
                        <option value="title" th:text="#{entity.article.title}"></option>
                        <option value="content" th:text="#{entity.article.content}"></option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <input class="form-control" type="search" th:field="*{keyWord}">
                </label>
            </div>
            <div>
                <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>