<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[${CURRENT_CATEGORY.name}]] | [[${SITE_CONTEXT.name}]]</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <link rel="stylesheet" th:href="@{/styles/toastui-editor.min.css}">
    <script th:src="@{/scripts/toastui-editor-all.min.js}"></script>

    <script th:src="@{/scripts/toastui-editor-all.min.js}"></script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', e => {

            const viewer = new toastui.Editor.factory({
                el: document.querySelector('.article-content-section'),
                viewer: true,
                height: '600px',
                initialValue: /*[[${page.content.get(0).content}]]*/''
            });

            e.target.addEventListener('submit', e => {
                const selector = Object.keys(submitHandlers).find(selector => e.target.closest(selector));
                submitHandlers[selector]?.(e);
            });

            e.target.addEventListener('click', e => {
                const selector = Object.keys(clickHandlers).find(selector => e.target.closest(selector));
                clickHandlers[selector]?.(e);
            });

            const submitHandlers = {
                '[name="insertReplyForm"]': e => {
                    e.preventDefault();
                    const form = new FormData(e.target);
                    form.append('exposed', 'true');
                    const httpEntity = {
                        method: 'post',
                        headers: {
                            [CSRF.headerName]: CSRF.token
                        },
                        body: form
                    };
                    fetch(e.target.action, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.ok) {
                                alert(/*[[#{command.success.save}]]*/'');
                                location.reload();
                            } else if (response.status === 400) {
                                const errors = JSON.parse(responseBody).errors;
                                [...errors].forEach(error => {
                                    const field = e.target.elements[error.field];
                                    field.setCustomValidity(error.message);
                                    field.reportValidity();
                                });
                            } else {
                                alert(/*[[#{command.failure.save}]]*/'');
                            }
                        });
                },
                '[name="updateReplyForm"]': e => {
                    e.preventDefault();
                    const form = new FormData(e.target);
                    form.append('exposed', 'true');
                    const httpEntity = {
                        method: 'post',
                        headers: {
                            [CSRF.headerName]: CSRF.token
                        },
                        body: form
                    };
                    fetch(e.target.action, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.ok) {
                                alert(/*[[#{command.success.update}]]*/'');
                                location.reload();
                            } else if (response.status === 400) {
                                const errors = JSON.parse(responseBody).errors;
                                [...errors].forEach(error => {
                                    const field = e.target.elements[error.field];
                                    field.setCustomValidity(error.message);
                                    field.reportValidity();
                                });
                            } else {
                                alert(/*[[#{command.failure.update}]]*/'');
                            }
                        });
                }

            }

            const clickHandlers = {
                '.reply-item button[name="update"]': e => {
                    const button = e.target.closest('.reply-item button[name="update"]');
                    const replyItem = button.closest('.reply-item');
                    const replyContent = replyItem.querySelector('.reply-content');
                    const updateUri = /*[[@{/api/replies}]]*/'';
                    const submitterTextContent = /*[[#{label.save}]]*/'';
                    const template = `
                    <form enctype="multipart/form-data" name="updateReplyForm" action="${updateUri}/${button.dataset.id}" method="post">
                        <input name="articleId" value="${button.dataset.id}" type="hidden">
                        <div class="input-group my-4">
                            <textarea aria-label="댓글 입력" class="form-control" name="content">${replyContent.querySelector('pre').textContent}</textarea>
                            <button class="input-group-text" type="submit">${submitterTextContent}</button>
                        </div>
                    </form>
                    `;

                    replyContent.classList.add('d-none');
                    button.classList.add('d-none');
                    replyItem.querySelector(`[name="cancel"]`).classList.remove('d-none');
                    replyItem.insertAdjacentHTML('beforeend', template);
                    replyItem.querySelector(`textarea[name="content"]`).focus();
                },
                '.reply-item button[name="delete"]': e => {
                    const button = e.target.closest('.reply-item button[name="delete"]');
                    const httpEntity = {
                        method: 'delete',
                        headers: {
                            'content-type': 'application/json',
                            [CSRF.headerName]: CSRF.token
                        }
                    };
                    fetch(`/api/replies/${button.dataset.id}`, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.ok) {
                                alert(/*[[#{command.success.delete}]]*/'');
                                location.reload();
                            } else {
                                alert(/*[[#{command.failure.delete}]]*/'');
                            }
                        });
                },
                '.reply-item button[name="cancel"]': e => {
                    const button = e.target.closest('.reply-item button[name="cancel"]');
                    const replyItem = button.closest('.reply-item');
                    const replyContent = replyItem.querySelector('.reply-content');
                    replyContent.classList.remove('d-none');
                    replyItem.querySelector(`[name="update"]`).classList.remove('d-none');
                    button.classList.add('d-none');

                    replyItem.querySelector(`[name="updateReplyForm"]`).remove();
                }
            };
        });
    </script>
</head>
<body layout:fragment="content">
<nav th:replace="~{components/local_navigation_bar :: localNavigationBar}"></nav>
<header class="container-sm title-section">
    <div class="d-flex">
        <div class="title h5 pb-1" th:text="${CURRENT_CATEGORY.name}"></div>
    </div>
</header>
<section class="container-sm article-title-section d-flex justify-content-between align-items-center py-4 mb-4">
    <div class="h5" th:text="${page.content.get(0).title}"></div>
    <div class="d-flex justify-content-start align-items-center">
        <small class="text-muted" th:text="${page.content.get(0).maskedAuthor}"></small>
        <small class="text-muted mx-2">|</small>
        <small class="text-muted" th:text="${#temporals.format(page.content.get(0).createdDate, 'yyyy.MM.dd')}"></small>
    </div>
</section>
<section class="container-sm article-content-section mb-5"></section>
<section class="container-sm d-flex justify-content-start align-items-center gap-2 my-2">
    <div class="small text-muted" th:text="#{entity.reply}"></div>
    <div class="main-color small" th:text="${page.content.get(0).replies.size()}"></div>
</section>
<section class="container-sm reply-section px-4 py-2">
    <div class="reply-item py-2"
         th:classappend="${!replyStat.last ? 'border-bottom' : ''}"
         th:each="reply : ${page.content.get(0).replies}"
         th:if="${!page.content.get(0).replies.isEmpty()}"
    >
        <div class="d-flex justify-content-between my-2">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="small text-muted" th:text="${reply.maskedAuthor}"></div>
                <div class="small text-muted" th:text="${#temporals.format(reply.createdDate, 'yyyy.MM.dd')}"></div>
            </div>
            <div class="d-flex justify-content-end align-items-center" sec:authorize="isAuthenticated()">
                <div th:if="${#strings.equals(reply.createdBy, #authentication.principal.username)}">
                    <button class="btn" name="update" type="button" th:data-id="${reply.id}" th:text="#{label.update}"></button>
                    <button class="btn d-none" name="cancel" type="button" th:text="#{label.cancel}"></button>
                </div>
                <div th:if="${#authentication.principal.hasRole('ROLE_ADMIN') or #authentication.principal.hasRole('ROLE_MANAGER') or #strings.equals(reply.createdBy, #authentication.principal.username)}">
                    <button class="btn" name="delete" type="button" th:data-id="${reply.id}" th:text="#{label.delete}"></button>
                </div>
            </div>
        </div>
        <div class="my-2 reply-content">
            <pre th:utext="${reply.content}"></pre>
        </div>
    </div>
    <form enctype="multipart/form-data" name="insertReplyForm" th:action="@{/api/replies}" th:method="post" sec:authorize="isAuthenticated()">
        <input name="articleId" th:value="${page.content.get(0).id}" type="hidden">
        <div class="input-group my-4">
            <textarea aria-label="댓글 입력" class="form-control" name="content"></textarea>
            <button class="input-group-text" type="submit" th:text="|#{entity.reply} #{label.input}|"></button>
        </div>
    </form>
    <div class="input-group my-4" sec:authorize="isAnonymous()">
        <textarea aria-label="댓글 입력" class="form-control" name="content" readonly></textarea>
        <a class="input-group-text" th:href="@{/oauth2/authorization/naver}" th:text="#{label.sign.in}"></a>
    </div>
</section>
<footer class="container-sm content-footer d-flex justify-content-between align-items-center my-4">
    <div class="d-flex justify-content-start gap-2">
        <a class="btn btn-outline-secondary" th:href="@{/articles/view(categoryId=${CURRENT_CATEGORY.id}, page=${page.previousOrFirstPageable().pageNumber})}" th:text="#{label.prevous.article}">이전글</a>
        <a class="btn btn-outline-secondary" th:href="@{/articles(categoryType=${CURRENT_CATEGORY.type}, categoryId=${CURRENT_CATEGORY.id})}" th:text="#{label.list}"></a>
        <a class="btn btn-outline-secondary" th:href="@{/articles/view(categoryId=${CURRENT_CATEGORY.id}, page=${page.nextOrLastPageable().pageNumber})}" th:text="#{label.next.article}">다음글</a>
    </div>
    <div class="d-flex justify-content-end gap-2" sec:authorize="isAuthenticated()">
        <a class="btn btn-outline-secondary"
           th:href="@{'/articles/' + ${page.content.get(0).id} + '/edit'}"
           th:if="${#strings.equals(#authentication.principal.username, page.content.get(0).createdBy)}"
           th:text="#{label.update}"
        >
        </a>
        <button class="btn btn-outline-secondary" type="submit" th:text="#{label.delete}"></button>
    </div>
</footer>
</body>
</html>