<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}"
      th:lang="${#locale.language}"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>홈 | 대전포스트잇 ♣대전독서모임</title>
    <link rel="stylesheet" href="/static/styles/content.css" th:href="@{/styles/content.css}">
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', e => {
            e.target.replyInsertForm.addEventListener('submit', e => {
                e.preventDefault();
                const form = new FormData(e.target);
                const httpEntity = {
                    method: 'POST',
                    body: form
                };
                fetch(e.target.action, httpEntity)
                    .then(async response => {
                        const responseBody = await response.text();
                        if (response.ok) {
                            alert(responseBody);
                            location.reload();
                        } else if (response.status === 400) {
                            const errors = JSON.parse(responseBody).errors;
                            [...errors].forEach(error => {
                                const field = e.target.elements[error.field];
                                field.setCustomValidity(error.message);
                                field.reportValidity();
                            });
                        } else {
                            alert(responseBody);
                        }
                    });
            });

            e.target.addEventListener('click', e => {
                const selector = Object.keys(eventHandlers).find(selector => e.target.closest(selector));
                eventHandlers[selector]?.(e);
            });

            const eventHandlers = {
                '.reply-item button[name="update"]': e => {

                },
                '.reply-item button[name="delete"]': e => {
                    const button = e.target.closest('.reply-item button[name="delete"]');
                    const httpEntity = {
                        method: 'delete',
                        headers: {
                            'content-type': 'application/json',
                            'X-XSRF-TOKEN': CSRF.token
                        }
                    };
                    fetch(`/api/replies/${button.dataset.id}`, httpEntity)
                        .then(async response => {
                            const responseBody = await response.text();
                            if (response.ok) {
                                alert(/*[[#{command.success.delete}]]*/'');
                                location.reload();
                            } else {
                                alert(responseBody);
                            }
                        });
                }
            };
        });
    </script>
</head>
<body layout:fragment="content">
<nav th:replace="~{components/local_navigation_bar :: localNavigationBar}"></nav>
<header class="container-sm title-section">
    <div class="d-flex">
        <div class="title h5 pb-1" th:text="${CURRENT_CATEGORY.name}"></div>
    </div>
</header>
<section class="container-sm article-title-section d-flex justify-content-between align-items-center py-4 mb-4">
    <div class="h5" th:text="${page.content.get(0).title}"></div>
    <div class="d-flex justify-content-start align-items-center">
        <small class="text-muted" th:text="${page.content.get(0).maskedAuthor}"></small>
        <small class="text-muted mx-2">|</small>
        <small class="text-muted" th:text="${#temporals.format(page.content.get(0).createdDate, 'yyyy.MM.dd')}"></small>
    </div>
</section>
<section class="container-sm article-content-section mb-5" th:utext="${page.content.get(0).content}"></section>
<section class="container-sm d-flex justify-content-start align-items-center gap-2 my-2" th:if="${!page.content.get(0).replies.isEmpty()}">
    <div class="small text-muted" th:text="#{entity.reply}"></div>
    <div class="main-color small" th:text="${page.content.get(0).replies.size()}"></div>
</section>
<section class="container-sm reply-section px-4 py-2" th:if="${!page.content.get(0).replies.isEmpty()}">
    <div class="reply-item py-2" th:each="reply : ${page.content.get(0).replies}" th:classappend="${!replyStat.last ? 'border-bottom' : ''}">
        <div class="d-flex justify-content-between my-2">
            <div class="d-flex justify-content-start align-items-center gap-2">
                <div class="small text-muted" th:text="${reply.maskedAuthor}"></div>
                <div class="small text-muted" th:text="${#temporals.format(reply.createdDate, 'yyyy.MM.dd')}"></div>
            </div>
            <div class="d-flex justify-content-end align-items-center" sec:authorize="isAuthenticated()">
                <div th:if="${#strings.equals(reply.createdBy, #authentication.principal.username)}">
                    <button class="btn" name="update" type="button" th:data-id="${reply.id}">수정</button>
                </div>
                <div th:if="${#authentication.principal.hasRole('ROLE_ADMIN') or #authentication.principal.hasRole('ROLE_MANAGER') or #strings.equals(reply.createdBy, #authentication.principal.username)}">
                    <button class="btn" name="delete" type="button" th:data-id="${reply.id}">삭제</button>
                </div>
            </div>
        </div>
        <div class="my-2" th:utext="${reply.content}"></div>
    </div>
    <form enctype="multipart/form-data" name="replyInsertForm" th:action="@{/api/replies}" th:method="post" sec:authorize="isAuthenticated()">
        <input name="articleId" th:value="${page.content.get(0).id}" type="hidden">
        <div class="input-group my-4">
            <textarea aria-label="댓글 입력" class="form-control" name="content"></textarea>
            <button class="input-group-text" type="submit" th:text="|#{entity.reply} #{label.input}|"></button>
        </div>
    </form>
</section>
<footer class="container-sm content-footer d-flex justify-content-between align-items-center my-4">
    <div class="d-flex justify-content-start gap-2">
        <a class="btn btn-outline-secondary" th:href="@{/articles/view(categoryId=${CURRENT_CATEGORY.id}, page=${page.previousOrFirstPageable().pageNumber})}" th:text="#{label.prevous.article}">이전글</a>
        <a class="btn btn-outline-secondary" th:href="@{/articles(categoryType=${CURRENT_CATEGORY.type}, categoryId=${CURRENT_CATEGORY.id})}" th:text="#{label.list}"></a>
        <a class="btn btn-outline-secondary" th:href="@{/articles/view(categoryId=${CURRENT_CATEGORY.id}, page=${page.nextOrLastPageable().pageNumber})}" th:text="#{label.next.article}">다음글</a>
    </div>
    <div class="d-flex justify-content-end gap-2" sec:authorize="isAuthenticated()">
        <a class="btn btn-outline-secondary" th:href="@{/}" th:text="#{label.update}"></a>
        <button class="btn btn-outline-secondary" type="submit" th:text="#{label.delete}"></button>
    </div>
</footer>
</body>
</html>