#aside {
  width: 280px;
  height: 100vh;
  background-color: var(--main-color);
  padding: 30px;

  header {
    background-color: var(--main-color);
    color: white;

    .logo {
      font-size: 0.6rem;
    }

    button[name="close"] {
      all: unset;
      cursor: pointer;
    }
  }

  .profile {

  }

  .site-map {
    details {
      summary {
        //list-style: none;
        a {
          all: unset;
          cursor: pointer;
          color: #FFFFFF99;
        }

        a.active {
          color: white;
        }
      }
    }
  }

  .copyright {
    padding: 88px 30px 40px 40px;
    font-style: italic;
    font-size: 0.6rem;
    color: #FFFFFF4D;
  }

}