@use "global";

.profile-section {
  background-image: url('/images/main_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .profile {
    width: 900px;
    height: 860px;

    h2 {
      font-size: 1.2rem;
    }

    .image {
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;

      }
    }
  }
}

.intro-section {
  margin: 80px 0;

  h6 {
    color: var(--main-color);
  }
}

.board-section {
  header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    h5 {
      color: var(--main-color);
    }

    a {
      all: unset;
      cursor: pointer;
    }
  }

  article {
    margin-bottom: 80px;

    .title {

    }

    .content {
      height: 110px;

      .thumbnail {
        width: 110px;

      }
    }

    .author {

    }


  }
}